
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #f2f2f2;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.header-buttons a {
  text-decoration: none;
}

.header-buttons button {
  margin-right: 12px;
  background-color: #480646;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.header-links {
  display: flex;
  align-items: center;
}

.header-links a {
  margin-right: 12px;
  color: #333;
  text-decoration: none;
}
